In [1]:
# Importações

import pandas as pd


from src.config import CLEANED_PATH

In [2]:
# Obtendo a base de dados
df = pd.read_parquet(CLEANED_PATH)

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_households,population_per_households,bedrooms_per_rooms,median_income_cat,housing_median_age_cat
0,-122.25,37.849998,52,1274,235,558,219,5.6431,341300,NEAR BAY,5.817352,2.547945,0.184458,4,4
1,-122.25,37.849998,52,1627,280,565,259,3.8462,342200,NEAR BAY,6.281853,2.181467,0.172096,3,4
2,-122.25,37.849998,52,919,213,413,193,4.0368,269700,NEAR BAY,4.761658,2.139896,0.231774,3,4
3,-122.25,37.840000,52,2535,489,1094,514,3.6591,299200,NEAR BAY,4.931907,2.128405,0.192899,3,4
4,-122.25,37.840000,52,3104,687,1157,647,3.1200,241400,NEAR BAY,4.797527,1.788253,0.221327,3,4

In [3]:
# Definição de cada tipo de coluna

target_column = pd.Index(["median_house_value"]).tolist()

categoric_columns = df.select_dtypes(["object", "category"]).columns.tolist()

numeric_columns = df.select_dtypes("number").columns.drop(target_column).tolist()

In [4]:
# Resumo da base
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17340 entries, 0 to 17339
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   longitude                  17340 non-null  float32
 1   latitude                   17340 non-null  float32
 2   housing_median_age         17340 non-null  int8
 3   total_rooms                17340 non-null  int16
 4   total_bedrooms             17340 non-null  int16
 5   population                 17340 non-null  int16
 6   households                 17340 non-null  int16
 7   median_income              17340 non-null  float32
 8   median_house_value         17340 non-null  int32
 9   ocean_proximity            17340 non-null  category
 10  rooms_per_households       17340 non-null  float64
 11  population_per_households  17340 non-null  float64
 12  bedrooms_per_rooms         17340 non-null  float64
 13  median_income_cat          17340 non-null  category
 14  housing_median_age_cat     17340 non-null  category
dtypes: category(3), float32(3), float64(3), int16(4), int32(1), int8(1)
memory usage: 880.8 KB

In [5]:
df["ocean_proximity"].dtype == 'O'

False

In [6]:
# Transformação das colunas object para category

for column in categoric_columns:

    if df[column].dtype == 'O':

        df[column] = pd.Categorical(df[column], ordered=False)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17340 entries, 0 to 17339
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   longitude                  17340 non-null  float32
 1   latitude                   17340 non-null  float32
 2   housing_median_age         17340 non-null  int8
 3   total_rooms                17340 non-null  int16
 4   total_bedrooms             17340 non-null  int16
 5   population                 17340 non-null  int16
 6   households                 17340 non-null  int16
 7   median_income              17340 non-null  float32
 8   median_house_value         17340 non-null  int32
 9   ocean_proximity            17340 non-null  category
 10  rooms_per_households       17340 non-null  float64
 11  population_per_households  17340 non-null  float64
 12  bedrooms_per_rooms         17340 non-null  float64
 13  median_income_cat          17340 non-null  category
 14  housing_median_age_cat     17340 non-null  category
dtypes: category(3), float32(3), float64(3), int16(4), int32(1), int8(1)
memory usage: 880.8 KB

In [8]:
# Fazendo a coerção de colunas numéricas do tipo float64 para int (8, 16 ou 32 bits) e float32

for column in numeric_columns + target_column:

    if df[column].apply(float.is_integer).all():

        df[column] = pd.to_numeric(df[column], downcast="integer")
        continue

    df[column] = pd.to_numeric(df[column], downcast="float")

TypeError: descriptor 'is_integer' for 'float' objects doesn't apply to a 'int' object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18540 entries, 0 to 18539
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   longitude                  18540 non-null  float32
 1   latitude                   18540 non-null  float32
 2   housing_median_age         18540 non-null  int8
 3   total_rooms                18540 non-null  int16
 4   total_bedrooms             18540 non-null  int16
 5   population                 18540 non-null  int16
 6   households                 18540 non-null  int16
 7   median_income              18540 non-null  float32
 8   median_house_value         18540 non-null  int32
 9   ocean_proximity            18540 non-null  category
 10  rooms_per_households       18540 non-null  float32
 11  population_per_households  18540 non-null  float32
 12  bedrooms_per_rooms         18540 non-null  float32
 13  median_income_cat          18540 non-null  category
 14  housing_median_age_cat     18537 non-null  category
dtypes: category(3), float32(6), int16(4), int32(1), int8(1)
memory usage: 724.6 KB

In [ ]:
# Resumo estatístico da base (Para analisar inconsistências)
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_households,population_per_households,bedrooms_per_rooms
count,18540.000000,18540.000000,18540.000000,18540.000000,18540.000000,18540.000000,18540.000000,18540.000000,18540.000000,18540.000000,18540.000000,18540.000000
mean,-119.588524,35.663578,28.631068,2473.296710,508.898058,1362.223355,478.003020,3.677522,191565.425944,5.238515,2.916469,0.212205
std,2.008403,2.149676,12.374988,1571.918137,316.933581,835.662092,292.013681,1.534593,96482.662561,1.131943,0.692657,0.048438
min,-124.349998,32.540001,1.000000,6.000000,2.000000,3.000000,2.000000,0.499900,14999.000000,1.714286,0.750000,0.113535
25%,-121.790001,33.930000,18.000000,1451.000000,298.000000,803.000000,284.000000,2.541700,115500.000000,4.438090,2.448467,0.177575
50%,-118.540001,34.279999,29.000000,2107.000000,433.000000,1173.000000,410.500000,3.458300,173800.000000,5.183812,2.834070,0.204129
75%,-118.000000,37.730000,37.000000,3077.000000,634.000000,1704.250000,595.000000,4.582500,247900.000000,5.944873,3.289914,0.239501
max,-114.550003,41.950001,52.000000,11026.000000,2205.000000,5804.000000,1979.000000,10.594100,489800.000000,10.321168,5.392954,0.406295

In [ ]:
# Exportando a base
df.to_parquet(CLEANED_PATH, index=False)